<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Index Page</title>
    <link rel="stylesheet" href="/static/styles.css">
</head>
<body>
     <div class="d0">
        <img src="/static/images/galini.png" alt="logo">
        <nav>
            <a href="/Therapist Profile ">Therapist Profile </a>
            <a href="/Appointments">Appointments</a>
            <a href="/Nearest Hospital ">Nearest Hospital </a>
            <a href="/Quizzes">Quizzes</a>
            <a href="/Login">Login</a>
        </nav>
     </div>
     <div class="d1">
        <div class="d2">
            <p class="title">
                Supporting your mental health.
            </p>

            <p class="mental">
                Mental health resources to help you take better care of yourself.
            </p>

            <p>
                Checking in with yourself is important for your mental health.

                So learn to pay attention to your state of mind — detecting 
                everyday anxiety, changing moods, or conflicting feelings -- 
                and turn to Headspace’s tools and evidence-based practices.
            </p>


        </div>

        <div class="d3">
            <img src="/static/images/v30_6.png" alt="imagemental" >
        </div>

     </div>


</body>
</html>