*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
  }
  body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-size: cover;
    background-position: center;
    background-color: white;

    
  }
  .wrapper{
    width: 100%;
    background: rgba(255, 255, 255, 0.9);
    border: 2px solid rgba(255, 255, 255, .2);
    /* backdrop-filter: blur(9px); */
    color: black;
    border-radius: 12px;
    padding: 30px 40px;
    /* max-width: 420px; */
    /* backdrop-filter: blur(9px); */
  }
  .wrapper h1{
    font-size: 26px;
    text-align: center;
    /* margin-bottom: 20px; */
  }
  .wrapper .input-box{
    position: relative;
    width: 100%;
    
    /* border: 2px solid black; */
    background-color: rgba(41, 35, 35, 0.2);
    
    margin: 30px 0;
  }
  .input-box input{
    width: 100%;
    /* height: 100%; */
    /* background: transparent; */
    background: rgba(41, 35, 35, 0.1);
    /* border: none; */
    /* border: 2px solid black; */
    /* outline: black; */
    border: 2px solid rgba(255, 255, 255, .2);
    border-radius: 40px;
    font-size: 16px;
    color: black;
    padding: 0 20px;
  }
  .input-box input::placeholder{
    color: black;
    /* border: black; */
  }
  .input-box i{
    position: absolute;
    right: 20px;
    /* top: 30%; */
    /* transform: translateY(-50%); */
    font-size: 20px;
    /* border: black; */
  
  }

  .input-box textarea {
    height: auto; /* Let textarea height adjust based on content */
    /* padding: 10px 20px; Adjust padding for textarea */
    resize: none; /* Prevent textarea from being resizable */
}

/* .input-box input::placeholder,
.input-box select::placeholder,
.input-box textarea::placeholder {
    color: black;
} */


  .wrapper .btn{
    width: 100%;
    height: 45px;
    background: #142193;
    border: none;
    outline: none;
    border-radius: 40px;
    box-shadow: 0 0 10px rgba(0, 0, 0, .1);
    cursor: pointer;
    font-size: 16px;
    color:white;
    font-weight: 600;
    margin: 20px;
  }
  .wrapper .back-link{
    font-size: 14.5px;
    text-align: center;
    margin: 20px 0 15px;
  
  }
  .back-link a{
    color: #fff;
    text-decoration: none;
    font-weight: 600;
  }
  .back-link a:hover{
    text-decoration: underline;
  }