{% load i18n %}
{% load static %}

<!DOCTYPE html>
<html lang="{{ LANGUAGE_CODE }}">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Register | Galini Plus</title>
  <link rel="stylesheet" href="{% static 'css/register.css' %}">
  <link rel="icon" href="{% static 'images/v30_6 copy.png' %}">
  <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
</head>
<body>

  <div class="wrapper">
    <div id="google_translate_element"></div>
    <form action="." method="post">
      {% csrf_token %} <!--cross site request forgery token: protection from hackers who want to hijack the form-->
      <h1>Register</h1>

      <div class="input-box">
        {{ form.username}}
        {% comment %} <i class='bx bxs-user'></i> {% endcomment %}
      </div>

      <div class="input-box">
        {{ form.email}}
        {% comment %} <input type="text" placeholder="Username" name="username" required> {% endcomment %}
        {% comment %} <i class='bx bxs-envelope'></i> {% endcomment %}
      </div>

      <div class="input-box">
        {{ form.password1}}
        {% comment %} <input type="password" placeholder="Enter Your Password" name="password1" required> {% endcomment %}
       
        {% comment %} <i class='bx bxs-lock-alt' ></i> {% endcomment %}
      </div>

      <div class="input-box">
        {{ form.password2}}
        {% comment %} <input type="password" placeholder="Enter Your Password" name="password1" required> {% endcomment %}
       
        {% comment %} <i class='bx bxs-lock-alt' ></i> {% endcomment %}
      </div>
      <br><br>

      {% comment %} <div class="remember-forgot">
        <label><input type="checkbox">Remember Me</label>
      </div> {% endcomment %}

      <button type="submit" class="btn">Register</button>

      <div class="register-link">
        <p>Already have an account? <a href="{% url "login" %}">Login</a></p>
      </div>
    </form>
  </div>

  <script src="script.js"></script>
      <script type="text/javascript">
        function googleTranslateElementInit() {
            new google.translate.TranslateElement(
                {pageLanguage: 'en'},
                'google_translate_element'
            );
        } 
  </script>
  <script type="text/javascript" src="https://translate.google.com/translate_a/element.js?cb=googleTranslateElementInit"></script>


</body>
</html>