{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>messages chat</title>
    <link rel="stylesheet" href="{% static 'messages.css' %}">
  </head>
  <body>
    <div>
      <p class="title">Galini - Chat</p>
      <form id="post-form" method="POST" action="checkview">
        {% csrf_token %}
        <label>Room Name</label>
        <input type="text" name="room_name" id="room_name" width="100px" />
        <label>Username</label>
        <input type="text" name="username" id="username" width="100px" />
        <input type="submit" value="Enter Room" />
      </form>
      <a href="{% url 'home' %}">Back to home</a>
    </div>
  </body>

</html>
  
