{% load static %}

<nav class="navbar">
    <a class="navbar-brand" href="#">
        <img src="{% static 'images/galini.png' %}" alt="Logo" style="width: 100px; vertical-align: middle;">
    </a>
    <button class="navbar-toggler" id="navbarToggler" onclick="toggleMenu()">
        <div></div>
        <div></div>
        <div></div>
    </button>
    <ul class="nav-links" id="navLinks">
        <li><a href="#">Therapist Profile</a></li>
        <li><a href="#">Appointments</a></li>
        <li><a href="#">Nearest Hospital</a></li>
        <li><a href="#">Quizzes</a></li>
        <li><a href="#">Login</a></li>
    </ul>
</nav>