{% load static %}

<nav class="navbar">
  <a class="navbar-brand" href="{% url 'home' %}"><img src="{% static 'images/galini.png' %}" alt="Logo" style="width: 100px; vertical-align: middle;" /></a>
  <button class="navbar-toggler" id="navbarToggler" onclick="toggleMenu()">
    <div></div>
    <div></div>
    <div></div>
  </button>
  <ul class="nav-links" id="navLinks">
    <li>
      <a href="https://www.mdcalc.com/calc/1725/phq9-patient-health-questionnaire9">Diagnostic Quizzes</a>
    </li> <!-- to be worked on -->
    <li>
      <a href="{% url 'therapists_summary' %}">Therapists</a>
    </li>
    <li>
      <a href="{% url "request_appointment" %}">Appointments</a>
    </li>
    <li>
      <a href="#">Nearest Hospital</a>
    </li>
    {% if user.is_authenticated %}
      <li>
        <a href="{% url 'logout' %}">Logout</a>
      </li>
    {% else %}
      <li>
        <a href="{% url 'login' %}">Login</a>
      </li>
      <li>
        <a href="{% url "register" %}">Register</a>
      </li>
    {% endif %}
  </ul>
</nav>
