{% load static %}
{% include 'base.html' %}

<div class="d1">
  <div class="d2">
    <p class="title">PHQ-9 Calculator</p>
  </div>
  <iframe class="embedded-iframe" 
src="https://www.mdcalc.com/calc/1725/phq9-patient-health-questionnaire9" 
onload="removeNavbar(this)"></iframe>

<a href="{% url 'home' %}" class="btn"></a>
</div>

{% include 'footer.html' %}
<style>
  .embedded-iframe {
      width: 100%;
      height: 120vh;
      border: none;
  }
</style>

<script>
  function removeNavbar(iframe) {
    const iframeDocument = iframe.contentDocument || iframe.contentWindow.document
  
    // Waiting for the content to load completely
    iframe.onload = function () {
      const navbar = iframeDocument.querySelector('nav') 
      if (navbar) {
        navbar.style.display = 'none'
      }
    }
  }
</script>


