<style>
  input[type=text], select {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  }

  input[type=submit] {
  width: 100%;
  background-color: #142193;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  }

  input[type=submit]:hover {
  background-color: #FEC017;
  }

  div {
  border-radius: 5px;
  background-color: #90D5FF;
  padding: 20px;
  }

  p.title {
    font-size: 100px;
    font-weight: bold;
    color: #142193;
    line-height: 100px;
    letter-spacing: -6px;
  }
</style>


<h2>{{room}}</h2>
<center>
  <form action="" id="post-form">
    {% csrf_token %}
    <input type="hidden" class="title" name="username" id="username" value="{{username}}">
    <input type="hidden" name="room_id" id="room_id" value="{{room_details.id}}">
    <input type="text" placeholder="Please enter your message here..." name="message" id="message" width="100px">
    <input type="submit" value="Send">
  </form>
  <a href="{% url 'home' %}">Back to home</a>
</center>


<script src="https://code.jquery.com/jquery-3.7.1.min.js" integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>
<script type="text/javascript">
  $(document).on('submit', '#post-form', function(e) {
    e.preventDefault();

    $.ajax({
      type: 'POST',
      url: 'message_page/checkview/send',
      data: {
        username: $('#username').val(),
        room_id: $('#room_id').val(),
        message: $('#message').val(),
        csrfmiddlewaretoken: $('input[name=csrfmiddlewaretoken]').val(),
      },
      success: function(response) {
        if (response.status === 'success') {
          alert(response.message);
        } else {
          alert('Error: ' + response.message);
        }
      },
      error: function(xhr, status, error) {
        alert('An error occurred: ' + error);
      }
    });
    document.getElementById('message').value = '';
  });
</script>
